# PRAW Credentials
# Reddit Personal use script (14 characters)
CLIENT_ID=

# Reddit Secret key (27 characters)
CLIENT_SECRET=

# Reddit App name
USER_AGENT=

# Reddit username
REDDIT_USERNAME=

# Reddit password
REDDIT_PASSWORD=

# Twitter Credentials
# Twitter TOKEN 
BEARER_TOKEN= 