git+https://github.com/opentensor/bittensor.git@master
torch~=2.1.0
praw~=7.7.1
python-dotenv~=1.0.0
SQLAlchemy~=2.0.21
tweepy
pandas~=2.1.1
wandb~=0.15.12
requests~=2.31.0
setuptools~=68.2.0
apify_client~=0.5.0
